{{define "page"}}

<h1>DMCA</h1>

<p>{{.Company}} has adopted the following policy toward copyright infringement on the Services in accordance with the Digital Millennium Copyright Act (a copy of which is located at <a href="http://www.loc.gov/copyright/legislation/dmca.pdf">http://www.loc.gov/copyright/legislation/dmca.pdf</a>, the "DMCA"). The address of {{.Site}}'s Designated Agent for copyright takedown notices ("Designated Agent") is listed below.</p>

<h2>Reporting Instances of Copyright Infringement:</h2>

<p>If you believe that content residing or accessible on or through the our website (“Services”) infringes a copyright, please send a written notice (by regular mail) to the Designated Agent at the address below. You may not communicate the information specified below by email. Please note that you will be liable for damages (including costs and attorney’s fees) if you materially misrepresent that material is infringing your copyright(s). Please use the following format (including section numbers) when you send written notice to us:</p>

<ul>
     <li>Identification of the work or material being infringed.</li>
     <li>Identification of the material that is claimed to be infringing, including its location, with sufficient detail so that {{.Site}} is capable of finding it and verifying its existence.</li>
     <li>Contact information for the notifying party (the "Notifying Party"), including name, address, telephone number and e-mail address.</li>
     <li>A statement that the Notifying Party has a good faith belief that the material is not authorized by the copyright owner, its agent or law.</li>
     <li>A statement made under penalty of perjury that the information provided in the notice is accurate and that the Notifying Party is either the copyright owner, or authorized to make the complaint on behalf of the copyright owner.</li>
     <li>A signature of the copyright owner, or a person authorized to act on behalf of the owner of the copyright that has been allegedly infringed.</li>
     <li>After removing material pursuant to a valid DMCA notice, {{.Site}} will notify the Subscriber responsible for the allegedly infringing material that it has removed or disabled access to the material. {{.Site}} reserves the right, in its sole discretion, to immediately terminate the account of any Subscriber who is the subject of repeated DMCA notifications.</li>
</ul>

<h2>Submitting a DMCA Counter-Notification:</h2>

<p>If you believe you are the wrongful subject of a DMCA notification, you may file a counter-notification with {{.Site}} by providing the following information to the Designated Agent at the address below:</p>

<ul>
     <li>The specific URLs of material that {{.Site}} has removed or to which {{.Site}} has disabled access.</li>
     <li>Your name, address, telephone number, and email address.</li>
     <li>A statement that you consent to the jurisdiction of Federal District Court for the judicial district in which your address is located (or the federal district courts located in San Francisco, CA if your address is outside of the United States), and that you will accept service of process from the person who provided the original DMCA notification or an agent of such person.</li>
     <li>The following statement: "I swear, under penalty of perjury, that I have a good faith belief that the material was removed or disabled as a result of a mistake or misidentification of the material to be removed or disabled."</li>
     <li>Sign the written document.</li>
     <li>Upon receipt of a valid counter-notification, {{.Site}} will forward it to Notifying Party who submitted the original DMCA notification. The original Notifying Party (or the copyright holder he or she represents) will then have ten (10) days to notify us that he or she has filed legal action relating to the allegedly infringing material. If {{.Site}} does not receive any such notification within ten (10) days, we may restore the material to the Services.</li>
</ul>

<h2>Designated Agent</h2>

<pre>
{{.Company}}
ATTN: {{.Site}} DMCA, Legal
{{.SnailMail}}
</pre>

{{end}}