{{define "page"}}

<h1>PRIVACY STATEMENT</h1>

<p>Your privacy is important to {{.Site}}.  This privacy statement provides information about the personal information that {{.Site}} collects, and the ways in which {{.Site}} uses that personal information.</p>

<h2>Credit</h2>

<p>This document was created using a Contractology template available at http://www.freenetlaw.com.</p>

<h2>Personal information collection</h2>

<p>{{.Site}} may collect and use the following kinds of personal information: </p>
<ul>
<li>information about your use of this website </li>
<li>information that you provide using for the purpose of registering with the website;</li>
<li>information about transactions carried out over this website;</li>
<li>information that you provide for the purpose of subscribing to the website services; and</li>
<li>any other information that you send to {{.Site}}.</li>
</ul>

<h2>Using personal information</h2>

<p>{{.Site}} may use your personal information to: </p>
<ul>
<li>administer this website;</li>
<li>personalize the website for you;</li>
<li>enable your access to and use of the website services;</li>
<li>publish information about you on the website;</li>
<li>send to you products that you purchase;</li>
<li>supply to you services that you purchase;</li>
<li>send to you statements and invoices;</li>
<li>collect payments from you; and</li>
<li>send you marketing communications.</li>
</ul>

<p>Where {{.Site}} discloses your personal information to its agents or sub-contractors for these purposes, the agent or sub-contractor in question will be obligated to use that personal information in accordance with the terms of this privacy statement. </p>

<p>In addition to the disclosures reasonably necessary for the purposes identified elsewhere above, {{.Site}} may disclose your personal information to the extent that it is required to do so by law, in connection with any legal proceedings or prospective legal proceedings, and in order to establish, exercise or defend its legal rights.</p>

<h2>Securing your data</h2>

<p>{{.Site}} will take reasonable technical and organisational precautions to prevent the loss, misuse or alteration of your personal information. </p>

<p>{{.Site}} will store all the personal information you provide on its servers. </p>

<p>Information relating to financial transactions entered into via this website will be  protected by encryption technology.</p>

<h2>Cross-border data transfers</h2>

<p>Information that {{.Site}} collects may be stored and processed in and transferred between any of the countries in which {{.Site}} operates to enable the use of the information in accordance with this privacy policy.</p>

<p>In addition, personal information that you submit for publication on the website will be published on the internet and may be available around the world.</p>

<p>You agree to such cross-border transfers of personal information.</p>

<h2>Google Analytics</h2>

<p>{{.Site}} uses Google Analytics to understand demographics and interest of visitors to this site. This involves setting Google advertising cookies and anonymous identifiers on your computer. Use of this site indicates agreement that these cookies may be placed on your computer and used for this purpose. You may use tools such as <a href="https://tools.google.com/dlpage/gaoptout/">Google Analytics' opt-out software for the web</a> if you want to opt out of these cookies and identifiers.</p>

<h2>Updating this statement</h2>

<p>{{.Site}} may update this privacy policy by posting a new version on this website.  </p>

<p>You should check this page occasionally to ensure you are familiar with any changes.  </p>

<h2>Other websites</h2>

<p>This website contains links to other websites.  </p>

<p>{{.Site}} is not responsible for the privacy policies or practices of any third party.</p>

<h2>Contact {{.Site}}</h2>

<p>If you have any questions about this privacy policy or {{.Site}}'s treatment of your personal information, please write:</p>
<ul>
<li>by email to <a href="mailto:{{.Email}}">{{.Email}}</a>; or </li>
<li>by post to {{.SnailMail}}.</li>
</ul>

{{end}}